@model selling_online.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xóa danh mục</h2>

<h3>Bạn có chắc chắn không?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        @Html.ActionLink("Quay về", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            Mô tả danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>


</div>
