@{
    ViewBag.Title = "About";
}
<head>
    <link href="~/Content/Custom_Style/Home/AboutUs.css" rel="stylesheet" />
</head>
<main aria-labelledby="title">
    <body>

        <section class="hero">
            <div class="heading">
                <h1>About Us</h1>
            </div>
            <div class="container">
                <div class="hero-content">
                    <h2>Welcome To Our Website</h2>
                    <p>
                        Discover the latest trends and innovations in technology, design,
                        and more. Our team of experts brings you the best content and
                        insights to help you stay ahead of the curve
                    </p>
                    <button class="cta-button">Learn More</button>
                </div>
                <div class="hero-image">
             
                    <img src="~/Content/Images/image.jpg" />
                </div>
            </div>
        </section>


    </body>
</main>